body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #ffff;
}

textarea{
  background: transparent;
  border: 1px solid #322e2f;
  resize: none;
  color: #322e2f;
  border-left: 1px solid #322e2f;
  padding: 10px;
}

textarea:focus{
  outline:0;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #322e2f;
  border-radius: 0;
  border-bottom: 5px solid #322e2f;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #2b2522;
  border-top: 1px dashed #322e2f;
}

.past {
  background-color: #ced7d8;
}

.present {
  background-color: #7fe7dc;
}

.future {
  background-color: #f47a60;
}

.saveBtn {
  border-left: 1px solid #322e2f;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  background-color: #2274a5;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.saveBtn:focus {
  outline: none;
}

footer{
  height: 135px;
}
